.Services{
    width: 100vw;
    height: 100vh;
}
.servTop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 90%;
    color: #f1f1f1;
    padding: 40px;
    border-radius: 8px;
    margin: 10px auto;
    background: linear-gradient(to right, rgb(0, 221, 255), blueviolet);
}
.servTop span{
    width: min-content;
    white-space: nowrap;
    padding: 10px 20px;
    border-radius: 34px;
    background: rgba(225,225,225,0.1);
    border: 0.1px solid rgba(0,0,0,0.1);
}
.servTop h1{
    font-size: 3rem;
}
.fourcol{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    width: 95%;
    margin: 10px auto;
}

@media only screen and (max-width: 768px) {
    .Services{
        height: auto;
    }
  .fivecol{
    grid-template-columns: 1fr 1fr;
  }
}
